<?xml version="1.0"?>
<!--
/**
 * Web200_Mailjet Magento component
 *
 * @package     Web200_Mailjet
 * @author      Web200 Team <contact@web200.fr>
 * @copyright   Web200 (https://www.web200.fr)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Send subscription to Mailjet / Add Firstname - Lastname - Dob to Subscriber model  -->
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="w200-mailjet-subscriber"
                type="Web200\Mailjet\Plugin\Model\SubscriberPlugin" sortOrder="10"/>
    </type>
    <!-- Add firstname, Lastname, Dob in Subscriber Collection  -->
    <type name="Magento\Newsletter\Model\ResourceModel\Subscriber\Collection">
        <plugin sortOrder="10" name="w200_mailjet_subscriber_collection"
                type="Web200\Mailjet\Plugin\Model\ResourceModel\Subscriber\CollectionPlugin"/>
    </type>

    <!-- Send email with mailjet template // -->
    <!-- Add mailjet email template to email template list -->
    <type name="Web200\Mailing\Model\Source\EmailTemplate">
        <plugin sortOrder="1" name="web200_mailjet_source_email_template" type="Web200\Mailjet\Plugin\Template\Source"/>
    </type>
    <!-- Add mailjet email template to email template list -->
    <type name="Magento\Config\Model\Config\Source\Email\Template">
        <plugin sortOrder="1" name="web200_mailjet_source_mail_template" type="Web200\Mailjet\Plugin\Template\Source"/>
    </type>
    <!-- Override template -->
    <type name="Magento\Email\Model\Template">
        <plugin sortOrder="1" name="web200_mailjet_source_mail_template" type="Web200\Mailjet\Plugin\Template\ProcessTemplate"/>
    </type>
    <!-- Override Send Mail -->
    <type name="Magento\Framework\Mail\TransportInterface">
        <plugin sortOrder="1" name="web200_mailjet_mail_transport" type="Web200\Mailjet\Plugin\Send" />
    </type>
    <!-- // Send email with mailjet template -->

    <!-- Logger -->
    <type name="Web200\Mailjet\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <!-- Logger -->
    <type name="Web200\Mailjet\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">mailjet_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Web200\Mailjet\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
